



@font-face {
  font-family: 'Bebas Neue';
  src: url('fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    background-color: #fefefe;
    text-transform: uppercase;
}


.cv-container {
    display: flex;
    flex-direction: row;
    border: 10px solid #800000;
    border-radius: 20px;
    max-width: 750px;
    margin: 40px auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    background-color: white;
    overflow: hidden;
}


.left-column {
    background-color: #fff9c4;
    width: 30%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.photo-frame {
    width: 130px;
    height: 180px;
    border: 3px solid #800000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #800000;
    background-color: white;
    text-align: center;
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.right-column {
    width: 70%;
    padding: 40px 30px;
    box-sizing: border-box;
}

.name {
    font-size: 2.4em;
    color: #800000;
    margin-bottom: 30px;
}


.separator {
    border: none;
    height: 3px;
    background-color: #800000;
    margin: 30px 0;
}


.grid {
    display: grid;
    grid-template-columns: 110px 1fr;
    row-gap: 10px;
    column-gap: 10px;
    margin-bottom: 30px;
}

.annee {
    font-weight: bold;
    color: #800000;
    position: relative;
    padding-left: 22px;
    margin: 0;
}

.annee::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fff9c4;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 6px;
}


.activite {
    color: #333;
    margin: 0;
}


.section-title {
    color: #800000;
    font-size: 1.4em;
    position: relative;
    padding-left: 20px;
    margin-bottom: 15px;
}

.section-title::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #fff9c4;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 6px;
}


.diplomes ul {
    padding-left: 20px;
    margin-top: 0;
}

.diplomes li {
    margin-bottom: 5px;
    color: #444;
}


.centres-interet p {
    color: #444;
    margin: 8px 0;
    line-height: 1.5;
}


.sub-title {
    color: #800000;
    font-weight: bold;
    position: relative;
    padding-left: 18px;
    margin-top: 10px;
}

.sub-title::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #fff9c4;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 6px;
}
